<h3>Live idag!</h3>
<table class="competitionTable">
    <thead>
        <tr><th>Datum</th><th>Namn</th><th>Arrangör</th></tr>
    </thead>
    <tr ng-repeat="competition in todayCompetitions = (competitions| filter:{date:today})" ng-click="selectComp(competition.id)">
        <td>{{competition.date}}</td>
        <td>{{competition.name}}</td>
        <td>{{competition.organizer}}</td>
    </tr>
    <tr ng-hide="todayCompetitions.length"><td colspan="3">Inga tävlingar idag</td></tr>
</table>
<h3>Tävlingsarkiv</h3>
<table class="competitionTable">
    <thead>
        <tr><th>Datum</th><th>Namn</th><th>Arrangör</th></tr>
    </thead>
    <tr ng-repeat="competition in competitions" ng-click="selectComp(competition.id)">
        <td>{{competition.date}}</td>
        <td>{{competition.name}}</td>
        <td>{{competition.organizer}}</td>
    </tr>
</table>