<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="angularjs" version="1.3.10" targetFramework="net40" />
  <package id="angularjs.TypeScript.DefinitelyTyped" version="3.1.2" targetFramework="net40" />
  <package id="AngularTranslate" version="2.5.2" targetFramework="net40" />
  <package id="angular-translate.TypeScript.DefinitelyTyped" version="0.9.1" targetFramework="net40" />
  <package id="jquery.TypeScript.DefinitelyTyped" version="2.1.7" targetFramework="net40" />
</packages>