<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LiveResults.CasparClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="LiveResults.CasparClient.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <LiveResults.CasparClient.Properties.Settings>
            <setting name="CasparChannel" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GraphicsLayerNaming" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GraphicsLayerResultList" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="GraphicsLayerPrewarnedRunners" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="GraphicsLayersClock" serializeAs="String">
                <value>3</value>
            </setting>
        </LiveResults.CasparClient.Properties.Settings>
        <LiveResults.CasparClient.Settings>
            <setting name="CasparChannel" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GraphicsLayerNaming" serializeAs="String">
                <value>0</value>
            </setting>
        </LiveResults.CasparClient.Settings>
    </applicationSettings>
</configuration>