<h2>Editera tävling {{competitionId}}</h2>
<div data-ng-if="competition">
     <uib-tabset>
    <uib-tab heading="Allmänna uppgifter">
    <label for="compName">Namn:</label>
    <input name="compName" class="form-control" data-ng-model="competition.name" /><br/>
    <label for="compOrg">Arrangör:</label>
    <input name="compOrg" class="form-control" data-ng-model="competition.organizer" /><br/>
     <label for="compCountry">Land:</label>
     <select class="form-control" name="compTimeZone" data-ng-model="competition.country" 
    data-ng-options="option.code as option.name for option in countries"></select>	<br/>
    <label for="compDate">Tävlingsdatum: </label>
              <input type="date" class="form-control" uib-datepicker-popup ng-model="competition.date" 
              is-open="datePickerStatus.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" 
               ng-required="true" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="openDatePicker($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            
    <br/>
    <label for="compTimeZone">Tidszon: </label>
    <select class="form-control" name="compTimeZone" data-ng-model="competition.timezone" 
    data-ng-options="option.abbr as option.text for option in timeZones"></select>	
    <br/>
    <label for="compShowPublic">Visa publikt: </label>
    <input class="form-control" name="compShowPublic" type="checkbox" data-ng-model="competition.isPublic" />
    <br/>
     <label for="compMessage" style="width: 100%">Meddelade (möjlighet att visa viktigt meddelande till de som följer tävlingen): </label>
    <textarea class="form-control" name="compMessage" data-ng-model="competition.message" style="width: 100%; height: 50px"></textarea>
    <br/>
    <br/>
    
    
    <button class="cbtn" data-ng-click="saveGeneralData()">Spara ändringar</button><br/>
   
    </uib-tab>
    <uib-tab heading="Radiokontroller">
        <uib-accordion>
            <uib-accordion-group ng-init="status = {isOpen: $first}" is-open="status.isOpen" data-ng-repeat="classSplitControlReg in splitControls">
                <uib-accordion-heading>
                    <i data-ng-if="!status.isOpen" class="fa fa-plus-circle"></i><i data-ng-if="status.isOpen" class="fa fa-minus-circle"></i> {{classSplitControlReg.class}}
            </uib-accordion-heading>
            <table class="table">
                <tr>
                <th>Namn</th>
                <th>Kontrollkod</th>
                <th>Passering</th>
                <th>Ordning</th>
                <th></th>
                </tr>
                  
                <tr data-ng-repeat="splitControl in classSplitControlReg.splitControls">
                    <td>{{splitControl.name}}</td>
                    <td>{{splitControl.controlCode}}</td>
                    <td>{{splitControl.passing}}</td>
                    <td>{{splitControl.order}}</td>
                    <td><i data-ng-if="!$first" class="fa fa-chevron-circle-up"></i><i data-ng-if="!$last" class="fa fa-chevron-circle-down"></i><i class="fa fa-trash"></i></td>
                </tr>
            </table>
           
           <fieldset>
                <legend class="scheduler-border">Lägg till radiokontroll</legend>
           
           <div class="form-group">
            <label>Namn:</label>
            <input type="text" ng-model="newControlName" class="form-control">
            </div>
            <div class="form-group">
            <label>Kodsiffra:</label>
            <input type="text" class="form-control" ng-model="newControlCode">
            </div>
            <div class="form-group">
            <label>Passering:</label>
            <input type="text" class="form-control" ng-model="newControlPassing">
            </div>
            <button class="cbtn" data-ng-click="addRadioControlToClass(classSplitControlReg.class,newControlName,newControlCode,newControlPassing)"><i class="fa fa-plus-circle"></i> Lägg till</button><br/>
            </fieldset>
            <hr/>
            <button class="cbtn"><i class="fa fa-clone"></i> Kopiera annan klass</button>
            </uib-accordion-group>
          </uib-accordion> 
    </uib-tab>
        <uib-tab heading="Datahantering">
             <button class="cbtn">Töm uppladdad data för denna tävling</button><br/>
    <button class="cbtn">Ta bort tävlingen</button>
        </uib-tab>
    </uib-tabset>
</div>