
<uib-accordion>
     <uib-accordion-group is-open="true">
        <uib-accordion-heading>
            {{'ADMINCREATENEW' | translate}}
    </uib-accordion-heading>
<div class="login">
    <h3>{{'ADMINCREATENEW' | translate}}</h3>
    <form name="frmNewComp">
     <label>{{'ADMINNEWCOMPNAME' | translate}}:</label>
     <input class="form-control" type="text" data-ng-model="newComp.name"  required/><br/>
     <label>{{'ADMINNEWCOMPORGANIZER' | translate}}:</label><input class="form-control" type="text" data-ng-model="newComp.organizer" required/><br/>
     
     <label>{{'ADMINNEWCOMPCOUNTRY' | translate}}:</label>
     <select class="form-control" data-ng-model="newComp.country" 
    data-ng-options="option.code as option.name for option in countries"></select><br/>
     <label>{{'ADMINNEWCOMPDATE' | translate}}:</label>
     <input type="date" class="form-control" uib-datepicker-popup ng-model="newComp.date" 
              is-open="datePickerStatus.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" 
               ng-required="true" close-text="Close" required/><br/>
    <label>{{'ADMINNEWCOMPEMAIL' | translate}}:</label>
    <input type="email" class="form-control" data-ng-model="newComp.email" required /><br/>
    <label>{{'ADMINPASSWORD' | translate}}:</label>
    <input type="password" class="form-control" data-ng-model="newComp.password" required/><br/>
    <label>{{'ADMINPASSWORDREPEAT' | translate}}:</label>
    <input type="password" class="form-control" data-ng-model="newComp.password2" required ng-pattern="newComp.password"/><br/>
    <p style="clear: both">
    <div
    vc-recaptcha
    key="'6LcsNxgTAAAAAOtfQbimLeH2pryAzRj5aB0ukskX'"></div>
    <button class="btn" ng-disabled="frmNewComp.$invalid" data-ng-click="createCompetition()">{{'ADMINCREATECOMPETITION' | translate}}</button>
    </p>
    </form>
</div>
</uib-accordion-group>
    <uib-accordion-group>
        <uib-accordion-heading>
            {{'ADMINEXISTING' | translate}}
        </uib-accordion-heading>
<div class="login">
    <h3>{{'ADMINEXISTING' | translate}}</h3>
    <select data-ng-model="selectedCompetitionId" class="form-control"
    data-ng-options="competition.id as formatCompetition(competition) for competition in competitions"></select>
    <br/>
    <label style="width: auto">{{'ADMINPASSWORD' | translate}}: </label>
    <input class="form-control" type="password" name="password" data-ng-model="password" />
    <p style="clear: both"><span style="font-size: 10px">*{{'ADMINPASSWORDHINT' | translate}}</span>
    </p>
    <button class="btn" data-ng-click="login()">{{'ADMINLOGIN' | translate}}</button>
</div>
</uib-accordion-group>

</uib-accordion>